*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 4rem 1rem;
}

.contact-header
{
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(2, 59, 2);
  margin-bottom: 7rem;
}

.contact-header h1
{
  font-size: 5rem;
}

.contact-header p
{
  font-size: 20px;
}

.contact-container
{
  display: flex;
  text-align: center;
  padding: 2rem;
  width: 111%;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 52, 95);
}

.contact-card
{
  background-color: aliceblue;
  height: 15rem;
  user-select: none;
  padding: 2rem;
}

.additional-info-card
{
  background-color: aliceblue;
  height: 15rem;
  user-select: none;
  padding: 2rem;
}

.contact-card,
.additional-info-card {
    width: 30%; 
}
