*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background:#E3E6E6;
    width: 100%;
}
.products-div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    user-select: none;
    margin-top: 1rem;
}

.card
{
    width: 300px;
    background: #fff;
    padding: 2rem;
}

.card h2,p
{
    color: black;   
}

.card:hover
{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.home-product-img
{
    height: 10rem;
    width: 10rem;
    background-color: transparent;
    mix-blend-mode: multiply;
}

@media (max-width: 1024px) {
    .products-div {
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }
}


@media (max-width: 768px) {
    .products-div {
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 1rem;
        row-gap: 1.5rem;
    }

    .card {
        padding: 0.75rem; 
    }

    .home-product-img {
        height: 8rem;
        width: 8rem;
    }
}


@media (max-width: 480px) {
    .products-div {
        grid-template-columns: 1fr; 
        gap: 1rem; 
        margin-left: 2rem;
        margin-top: 5rem;
    }

    .card {
        padding: 0.5rem; 
    }

    .home-product-img {
        height: 7rem; 
        width: 7rem;
    }
}